@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,300;0,400;0,600;0,700;1,600&family=Montserrat:wght@300;400;600;700;800;900&family=Questrial&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

@layer components {
  .bulletInactive {
    border-radius: 50%;
    display: inline-block;
    width: theme("fontSize.xl");
    height: theme("fontSize.xl");
    background-color: theme("colors.theme-light-blue");
    opacity: 0.6;
    margin-right: theme("spacing[2]");
  }
  .bulletActive {
    background-color: theme("colors.theme-middle-blue");
  }
}

:root {
  --swiper-theme-color: theme("colors.theme-light-blue") !important;
}

a {
  color: inherit;
  text-decoration: none;
}
